<!DOCTYPE html>
<html lang="en" >

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blockchain playground</title>



    <!-----------  Main View libraries ------------------>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenLite.min.js"></script>

    <!-----------  Draggable windows libraries ------------------>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/utils/Draggable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/CSSPlugin.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href='https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css'>

      <link rel="stylesheet" href="css/style.css">




    <!------------- code mirror libraries ------------------>

    <script src="codeMirror/codemirror.js"></script>
    <link rel="stylesheet" href="codeMirror/codemirror.css">
    <script src="codeMirror/javascript.js"></script>
    <script src="codeMirror/show-hint.js"></script>
    <script src="codeMirror/javascript-hint.js"></script>
    <link rel="stylesheet" href="codeMirror/show-hint.css">
    <link rel="stylesheet" href="codeMirror/dracula.css">


  
</head>
<body>

  <div class="w-100 vh-100 relative" id="desktop">
  <nav class="absolute top-0 left-0 right-0 flex items-center pv2 ph4">
    <img class="logo mr4" src="http://www.clipartbest.com/cliparts/ncE/oqR/ncEoqREcA.svg">

    
    <a class="white link no-underline f7 mr4 b" href="#">{{activeWindowTitle}}</a>
    <a class="white link no-underline f7 mr4" href="#">Chinese 中国 🇨🇳</a>
     <a class="white link no-underline f7 mr4" href="#">English 🇺🇸</a>

  </nav>
  <div class="restrictor absolute right-2 bottom-2 left-2">
    <transition-group name="fade">
      <draggable-window :id="window.id" v-if="window.isShowing" v-for="(window, $index) in windows" :key="$index" :content="window.comp" :title="window.title" :index="window.id">
        {{ window.content }}
      </draggable-window>
    </transition-group>
  </div>




<!--------------   Home Icon -------------->
  <div class="absolute top-0 right-0 bottom-0 h-100 flex flex-column pa4">
    <div class="flex items-center pv3">
      <button class="flex-auto bn bg-transparent" @click="openWindow('welcome')">
        <figure class="mt0 mh0 mb3 w3 h3 db center icon home"></figure>
        <h4 class="ma0">Home</h4>
      </button>
    </div>







      <!--------------   Code Editor Icon Javascript Icon -------------->


      <div class="flex items-center pv3">
          <button class="flex-auto bn bg-transparent" @click="openWindow('codeeditor')">
              <figure class="mt0 mh0 mb3 w3 h3 db center icon javascript"></figure>
              <h4 class="ma0">Javascript</h4>
          </button>
      </div>




      <!-------       Tutorials Coming soon --------------->

      <!--
    <div class="flex items-center pv3">
      <button class="flex-auto bn bg-transparent" @click="openWindow('home')">
        <figure class="mt0 mh0 mb3 w3 h3 db center icon home"></figure>
        <h4 class="ma0">Tutorials</h4>
      </button>
    </div>
    -->


      <!--------------  Calendar Icon ------------------------>

      <!--
      <div class="flex items-center pv3">
          <button class="flex-auto bn bg-transparent" @click="openWindow('calendar')">
              <figure class="mt0 mh0 mb3 w3 h3 db center icon calendar"></figure>
              <h4 class="ma0">Calendar</h4>
          </button>
      </div>
      -->



  </div>
</div>

<script type="x/template" id="draggable-window">
	<div :id="id" class="window absolute bg-white ba bw2 b--black">
    <div class="bb b--black bw2 flex items-center pa1">
      <button @click="closeWindow" class="bg-transparent bn dim flex items-center">




				<!-- GOOGLES material-design-icons  -->

          <i class="material-icons mr1 f5">backspace</i>

          <!--
          <i class="material-icons mr1 f5">forward</i>
          <i class="material-icons mr1 f5">arrow_forward</i>
          <i class="material-icons mr1 f5">arrow_back</i>
          -->
<!---
      	<i class="material-icons mr1 f5">change_history</i>
        <i class="material-icons mr1 f5">crop_square</i>
        <i class="material-icons f6">radio_button_unchecked</i>
-->

      </button>
    </div>
    <div class="pa3">
    	<div :is="content"></div>
    </div>
  </div>
</script>



  <!---------- Welcome window ---------------->
<script type="text/x-template" id="welcome-template">
	<div class="measure">
  	<p class="mt0">Blockchain PlayGround!!!</p>
    </div>
</script>



  <!---------- Code Editor window ---------------------------->
  <script type="text/x-template" id="codeditor-template">
      <div class="measure">
          <p class="mt0"><h1>The code editor!!!</h1></p>
          <button onclick="createNewAccountFunc()">account</button>
          <h3>Right click inside the editor to begin</h3>
          <h4>You will see the blinking after right clicking</h4>

          <!---------- Code Editor  ---------------->
          <div class="box1Example17">
              <div id="js"></div>
              <button onclick="runJavascript()">run</button>
          </div>

          <div>
              <iframe id="output" srcdoc="<p>Blockchain playground</p>"></iframe>
          </div>

          <strong>Lets Program some javascript!</strong>
          <h3>Javascript will rule the world</h3>

      </div>
  </script>



  <!---------- Steps window ---------------->
<script type="text/x-template" id="steps-template">
	<div class="measure">
        <h3>Blockchain playground</h3>
        <div id="instructions">

                <h3 id="message">Lets Learn Blockchain</h3>
                <button onclick="backStep()"><i class="material-icons mr1 f5">keyboard_backspace</i></button>
                <button onclick="nextStep()"> <i class="material-icons mr1 f5">forward</i></button>
            <!---<button onclick="nextStep()"> <i class="material-icons mr1 f5">arrow_forward</i></button>--->

            <!---<button onclick="nextStep()"> <i class="material-icons mr1 f5">arrow_backward</i></button>--->
            <div >
            </div>
                </div>
    </div>
        <!------------------------  steps vue js -------------->
</script>






  <!---------- Calander countdown window ---------------->

  <!--
<script type="text/x-template" id="calendar-template">
	<div class="measure-wide">
  	<p class="mt0">Countdown until next <strong>Blockchain becomes the web 3.0</strong></p>
    <hr class="o-40 mb3">
    <h4 class="mt0 mb2">Web 3.0 in:</h4>
    <div class="f4" id="timeLeft"></div>
  </div>
</script>
-->






  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.8/interact.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>



  <!----------Countdown App      I dont think I will use this  ------------>

  <!------
<script src='https://cdn.rawgit.com/HugoGiraudel/Countdown.js/a88b61fc/countdown.min.js'>
</script> ---->



  <script src="nebulas/neb-account.js"></script>
  <script src="nebulas/neb.js"></script>
  <script src="js/nebApi.js"></script>
    <script src="js/index.js"></script>
  <script src="js/codeEditor.js"></script>



</body>
</html>
